In [2]:
import pandas as pd

In [7]:
# Baca data dari file CSV ke dalam dataframe
zonasi_pendaftar = pd.read_csv('Pendaftar/datasets/seluruh_smp.csv', index_col=[0])
zonasi_hasil = pd.read_csv('Hasil/datasets/seluruh_smp_hasil.csv', index_col=[0])

# Lakukan left join pada kolom "Nama Siswa" dan "Pilihan Sekolah"
merged_df = pd.merge(zonasi_pendaftar, zonasi_hasil, on=["Nama Siswa", "Pilihan Sekolah"], how="left")

# Buat kolom baru "Hasil" berdasarkan kondisi "Diterima" atau "Ditolak"
merged_df["Hasil"] = merged_df.apply(lambda row: "Diterima" if not pd.isna(row["Nomor Pendaftaran"]) else "Ditolak", axis=1)

# Hapus kolom "Nomor Pendaftaran" agar tidak ada duplikasi
merged_df.drop("Nomor Pendaftaran", axis=1, inplace=True)

# Tampilkan dataframe hasil
merged_df

,Nama Siswa,NISN,Status Domisili_x,Asal Sekolah_x,Jarak (meter)_x,Pilihan Sekolah,Zona_x,Status,Status Domisili_y,Asal Sekolah_y,Jarak (meter)_y,Zona_y,Hasil
0,MIKAELLA BUNGA CALYSTA HOEMAN,011****627,Dalam Kota,SD KESATUAN,54.34,SMP NEGERI 1 BOGOR,Zona 1,NaN,NaN,NaN,NaN,NaN,Ditolak
1,MAHARANI EKA WARDANI,010****610,Dalam Kota,SD INSAN KAMIL,81.20,SMP NEGERI 1 BOGOR,Zona 1,Diterima,Luar Kota,SD INSAN KAMIL,2334.47,Zona 5,Diterima
2,Ghaisan Abiyu Raziq Harahap,010****374,Dalam Kota,SD Muhammadyah Islam Kreatif Cianjur,82.08,SMP NEGERI 1 BOGOR,Zona 1,NaN,NaN,NaN,NaN,NaN,Ditolak
3,ARROYYA NABIGH ELTHARIQ HUBEIS,010****506,Dalam Kota,SDIT AL-YASMIN,86.08,SMP NEGERI 1 BOGOR,Zona 1,NaN,NaN,NaN,NaN,NaN,Ditolak
4,NOUNNOANDRA SURYAMADYA,010****779,Dalam Kota,SD PERTIWI,86.94,SMP NEGERI 1 BOGOR,Zona 1,Diterima,Dalam Kota,SD PERTIWI,86.94,Zona 1,Diterima
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8055,Muhammad Faisal Syahputra,011****818,Luar Kota,SDN SIRNAGALIH 05,45237.85,SMP NEGERI 20,Zona 7,NaN,NaN,NaN,NaN,NaN,Ditolak
8056,MUHAMAD HERU ABDULAH,011****098,Luar Kota,MI PERSIS,73918.98,SMP NEGERI 20,Zona 6,Diterima,Luar Kota,MI PERSIS,73918.98,Zona 6,Diterima
8057,DWI RAHMAWATI,010****298,Luar Kota,SD NEGERI SELAAWI,92938.39,SMP NEGERI 20,Zona 6,Diterima,Luar Kota,SD NEGERI SELAAWI,92938.39,Zona 6,Diterima
8058,Demas Arjuna Bumi Prakoso,010****995,Luar Kota,SD NEGERI BANTARJATI 7,106560.08,SMP NEGERI 20,Zona 6,Diterima,Luar Kota,SD NEGERI BANTARJATI 7,106560.08,Zona 6,Diterima
8059,RANGGA DWI SAPUTRA,010****945,Luar Kota,SD NEGERI TANAH SAREAL 1 BOGOR,253926.95,SMP NEGERI 20,Zona 7,NaN,NaN,NaN,NaN,NaN,Ditolak

In [8]:
print(zonasi_pendaftar.shape)
print(zonasi_hasil.shape)
print(merged_df.shape)

(8053, 7)
(3251, 8)
(8060, 13)

In [17]:
merged_df['Hasil'].value_counts()

Hasil
Ditolak     4813
Diterima    3266
Name: count, dtype: int64

In [21]:
merged_df.to_csv('Hasil/shiny-datasets/smp_zonasi_hasil.csv')