In [3]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from bs4 import BeautifulSoup

# Zonasi

In [4]:
def scrape_data(url):
    driver = webdriver.Chrome()
    driver.get(url)

    time.sleep(10)
    wait = WebDriverWait(driver, 10)
    wait.until(EC.invisibility_of_element_located((By.CLASS_NAME, 'splash-screen')))

    all_data = []

    while True:
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.find('table')

        # Mengambil elemen 'th' pertama sebagai nama kolom
        header_row = table.find('tr')
        headers = [header.get_text(strip=True) for header in header_row.find_all('th')]
        all_data.append(headers)

        for row in table.find_all('tr'):
            row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
            all_data.append(row_data)

        next_button = driver.find_element(By.XPATH, '//button[@aria-label="next page"]')
        is_enabled = next_button.is_enabled()
        if not is_enabled:
            break

        time.sleep(3)
        next_button.click()
        time.sleep(5)

    driver.quit()

    # Membuat DataFrame dari all_data dengan menggunakan headers sebagai nama kolom
    df = pd.DataFrame(all_data[1:], columns=all_data[0])

    # Menghapus baris pertama
    df = df.drop(df.index[0]).dropna().set_index(['No'])
    
    return df

In [16]:
smp_urls = [
    'https://ppdb.kotabogor.go.id/hasilseleksi/6058e604-2df5-e011-91f0-e9feaa2e9d74/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/60f12206-2df5-e011-8a46-6bf253e496ab/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/e0000704-2df5-e011-842f-5d02e391b0b3/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/607bb104-2df5-e011-a567-cdd9515cb43f/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/f0273e04-2df5-e011-961b-63e7601dc96d/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/70bb2206-2df5-e011-9597-1d0c912b7fe2/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/90fc7304-2df5-e011-a95a-a72eb9f84dfc/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/e0ebb904-2df5-e011-9694-2bdcdc771da2/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/50bdf204-2df5-e011-b95c-d9c2a72684e3/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/20692206-2df5-e011-b8cd-eb0fff6548c8/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/50d62206-2df5-e011-8b91-5d869f6d3ae8/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/00d43304-2df5-e011-ad5f-d91be70663ff/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/e0762206-2df5-e011-a086-b975477e1497/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/1012c504-2df5-e011-88b4-8d189dce69ba/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/5048e004-2df5-e011-9fbe-f373041d48cf/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/00602306-2df5-e011-8356-59f8c43970df/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/4049e204-2df5-e011-afcd-97e36bdf92a9/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/206ae404-2df5-e011-ae3d-9b7426cfeeb7/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/c069ca04-2df5-e011-9836-fda4cfa6b24a/6',
    'https://ppdb.kotabogor.go.id/hasilseleksi/c02a2306-2df5-e011-b927-093051a2f742/6'
]

In [5]:
# Membuat DataFrame dan melakukan ekspor ke CSV untuk setiap variabel URL
for i, url in enumerate(smp_urls):
    df = scrape_data(url)
    filename = f'datasets/smp{i+1}_zonasi_hasil.csv'
    df.to_csv(filename)
    print(f"'{filename}' berhasil dibuat, bentuk dataframe '{df.shape}'")
    time.sleep(10)

'datasets/smp1_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(141, 6)'
'datasets/smp2_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp3_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(141, 6)'
'datasets/smp4_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp5_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp6_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp7_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp8_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp9_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp10_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(142, 6)'
'datasets/smp11_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(195, 6)'
'datasets/smp12_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(159, 6)'
'datasets/smp13_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(130, 6)'
'datasets/smp14_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(167, 6)'
'datasets/smp15_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp16_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(158, 6)'
'datasets/smp17_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(194, 6)'
'datasets/smp18_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(192, 6)'
'datasets/smp19_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(181, 6)'
'datasets/smp20_zonasi_hasil.csv' berhasil dibuat, bentuk dataframe '(187, 6)'

In [8]:
# Membuat list kosong untuk menyimpan dataframe
dataframes = []

# Melakukan iterasi dari smp1 hingga smp20
for i in range(1, 21):
    filename = f"datasets/smp{i}_zonasi_hasil.csv"
    df = pd.read_csv(filename)
    dataframes.append(df)

# Menggabungkan dataframe menjadi satu dataframe
smp = pd.concat(dataframes).reset_index().drop(['index', 'No'], axis=1)

# Menampilkan dataframe hasil penggabungan
smp.head()

,Nomor Pendaftaran,Nama Siswa,Status,Status Domisili,Asal Sekolah,Sekolah Pilihan
0,`20220385040000115,NOUNNOANDRA SURYAMADYA,Diterima,Dalam Kota,SD PERTIWI,"SMP NEGERI 1 BOGOR - Zona 1(86,94m)"
1,`20220385040000126,Farrel Akbar Al Faraby,Diterima,Dalam Kota,SD KREATIVA,"SMP NEGERI 1 BOGOR - Zona 1(89,18m)"
2,`20220385040000124,Ariobimo Prawiro Gadiansah,Diterima,Dalam Kota,SDS IT ABDULLAH BIN NUH (SDIT ABN),"SMP NEGERI 1 BOGOR - Zona 1(89,98m)"
3,`20220385040000245,ALFIAN FARIZKI,Diterima,Dalam Kota,SD NEGERI KEDUNG BADAK 4,"SMP NEGERI 1 BOGOR - Zona 1(95,28m)"
4,`20220385040000377,Yehezkiel Hanura Putra,Diterima,Dalam Kota,SD Negeri Bojonggede 01,"SMP NEGERI 1 BOGOR - Zona 1(109,93m)"

In [10]:
# Menghapus 'm' pada kolom 'Jarak (meter)' dan mengganti koma dengan titik dan titik dengan koma
smp['Jarak (meter)'] = smp['Sekolah Pilihan'].apply(lambda x: x.split('(')[1].split(')')[0].strip()).str.replace('m', '').str.replace('.', '?').str.replace(',', '.').str.replace('?', '').astype(float)

# Membuat kolom baru 'Pilihan Sekolah', 'Zona', dan 'Jarak (meter)'
smp['Pilihan Sekolah'] = smp['Sekolah Pilihan'].apply(lambda x: x.split('-')[0].strip())
smp['Zona'] = smp['Sekolah Pilihan'].apply(lambda x: x.split('-')[1].split('(')[0].strip())
smp = smp.drop(['Sekolah Pilihan'], axis=1)
smp.head(10)

,Nomor Pendaftaran,Nama Siswa,Status,Status Domisili,Asal Sekolah,Jarak (meter),Pilihan Sekolah,Zona
0,`20220385040000115,NOUNNOANDRA SURYAMADYA,Diterima,Dalam Kota,SD PERTIWI,86.94,SMP NEGERI 1 BOGOR,Zona 1
1,`20220385040000126,Farrel Akbar Al Faraby,Diterima,Dalam Kota,SD KREATIVA,89.18,SMP NEGERI 1 BOGOR,Zona 1
2,`20220385040000124,Ariobimo Prawiro Gadiansah,Diterima,Dalam Kota,SDS IT ABDULLAH BIN NUH (SDIT ABN),89.98,SMP NEGERI 1 BOGOR,Zona 1
3,`20220385040000245,ALFIAN FARIZKI,Diterima,Dalam Kota,SD NEGERI KEDUNG BADAK 4,95.28,SMP NEGERI 1 BOGOR,Zona 1
4,`20220385040000377,Yehezkiel Hanura Putra,Diterima,Dalam Kota,SD Negeri Bojonggede 01,109.93,SMP NEGERI 1 BOGOR,Zona 1
5,`20220385040000154,MUHAMAD SULTHAN HADI FIRMANSAH,Diterima,Dalam Kota,SD NEGERI POLISI 1,123.73,SMP NEGERI 1 BOGOR,Zona 1
6,`20220385040000162,RADITHYA BRAMANTY,Diterima,Dalam Kota,SD NEGERI POLISI 5,134.54,SMP NEGERI 1 BOGOR,Zona 1
7,`20220385040000106,Nasywa Gania Yusdrian,Diterima,Dalam Kota,SD PERTIWI,140.48,SMP NEGERI 1 BOGOR,Zona 1
8,`20220385040000328,HEIDY SHAZIA GIYANI,Diterima,Dalam Kota,SEKOLAH HIGHSCOPE INDONESIA RANCAMAYA,179.81,SMP NEGERI 1 BOGOR,Zona 1
9,`20220385040000137,MUHAMMAD FAQIH KHAIRY,Diterima,Dalam Kota,SDN GUNUNG BATU 2,181.28,SMP NEGERI 1 BOGOR,Zona 1

In [12]:
smp.to_csv('datasets/seluruh_smp_hasil.csv')

In [11]:
summary = smp[['Pilihan Sekolah', 'Jarak (meter)', 'Zona']].groupby(['Pilihan Sekolah', 'Zona']).agg({
    'Pilihan Sekolah': 'count',
    'Jarak (meter)': 'max'
})
summary.columns = ['Jumlah Pendaftar', 'Jarak Maksimal (meter)']

summary

                           Jumlah Pendaftar  Jarak Maksimal (meter)
Pilihan Sekolah    Zona
SMP NEGERI 1 BOGOR Zona 1                83                 1067.54
                   Zona 2                25                 1107.39
                   Zona 3                13                 1503.83
                   Zona 4                 6                 2543.89
                   Zona 5                 8                 2944.11
...                                     ...                     ...
SMP NEGERI 9 BOGOR Zona 3                14                 1178.61
                   Zona 4                 7                 6403.67
                   Zona 5                10                 2559.00
                   Zona 6                 4               211800.01
                   Zona 7                 2                34979.41

[140 rows x 2 columns]

In [13]:
summary.to_csv('datasets/summary_ppdb_hasil.csv')

# Prestasi Rapor

In [4]:
def scrape_data_rapor(url):
    driver = webdriver.Chrome()
    driver.get(url)

    time.sleep(10)
    wait = WebDriverWait(driver, 10)
    wait.until(EC.invisibility_of_element_located((By.CLASS_NAME, 'splash-screen')))

    # Mengklik tombol "Prestasi Rapor" berdasarkan teks
    prestasi_button = driver.find_element(By.XPATH, '//button[text()="Prestasi Rapor"]')
    wait.until(EC.element_to_be_clickable((By.XPATH, '//button[text()="Prestasi Rapor"]')))
    prestasi_button.click()

    all_data = []

    while True:
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.find('table')

        # Mengambil elemen 'th' pertama sebagai nama kolom
        header_row = table.find('tr')
        headers = [header.get_text(strip=True) for header in header_row.find_all('th')]
        all_data.append(headers)

        for row in table.find_all('tr'):
            row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
            all_data.append(row_data)

        next_button = driver.find_element(By.XPATH, '//button[@aria-label="next page"]')
        is_enabled = next_button.is_enabled()
        if not is_enabled:
            break

        time.sleep(3)
        next_button.click()
        time.sleep(5)

    driver.quit()

    # Membuat DataFrame dari all_data dengan menggunakan headers sebagai nama kolom
    df = pd.DataFrame(all_data[1:], columns=all_data[0])

    # Menghapus baris pertama
    df = df.drop(df.index[0]).dropna().set_index(['No'])
    
    return df

In [17]:
# Membuat DataFrame dan melakukan ekspor ke CSV untuk setiap variabel URL
for i, url in enumerate(smp_urls):
    df = scrape_data_rapor(url)
    filename = f'datasets/rapor/smp{i+1}_rapor_hasil.csv'
    df.to_csv(filename)
    print(f"'{filename}' berhasil dibuat, bentuk dataframe '{df.shape}'")
    time.sleep(10)

'datasets/rapor/smp1_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(18, 7)'
'datasets/rapor/smp2_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(39, 7)'
'datasets/rapor/smp3_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(18, 7)'
'datasets/rapor/smp4_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(31, 7)'
'datasets/rapor/smp5_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(22, 7)'
'datasets/rapor/smp6_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(42, 7)'
'datasets/rapor/smp7_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(34, 7)'
'datasets/rapor/smp8_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(34, 7)'
'datasets/rapor/smp9_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(40, 7)'
'datasets/rapor/smp10_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(37, 7)'
'datasets/rapor/smp11_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(19, 7)'
'datasets/rapor/smp12_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(29, 7)'
'datasets/rapor/smp13_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(32, 7)'
'datasets/rapor/smp14_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(43, 7)'
'datasets/rapor/smp15_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(26, 7)'
'datasets/rapor/smp16_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(24, 7)'
'datasets/rapor/smp17_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(7, 7)'
'datasets/rapor/smp18_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(29, 7)'
'datasets/rapor/smp19_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(17, 7)'
'datasets/rapor/smp20_rapor_hasil.csv' berhasil dibuat, bentuk dataframe '(8, 7)'

In [52]:
# Membuat list kosong untuk menyimpan dataframe
dataframes = []

# Melakukan iterasi dari smp1 hingga smp20
for i in range(1, 21):
    filename = f"datasets/rapor/smp{i}_rapor_hasil.csv"
    df = pd.read_csv(filename)
    dataframes.append(df)

# Menggabungkan dataframe menjadi satu dataframe
smp_rapor = pd.concat(dataframes).reset_index().drop(['index', 'No'], axis=1)

# Menampilkan dataframe hasil penggabungan
smp_rapor.head()

,Nomor Pendaftaran,Nama Siswa,Jalur,Status,Sekolah Pilihan,Status Domisili,Nilai Total
0,20220385030100104,NADINE SAKYA PRINERDY,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,198.07
1,20220385030100107,Alifia Natika Budiawan,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.87
2,20220385030100117,Sayyid Arsyad Edi Khumaini,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.83
3,20220385030100102,SULTAN AL FARIZY,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.80
4,20220385030100009,ABIMANYU RAYHAN LINTANG RAMADHAN,Prestasi Rapor,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,197.27

In [53]:
smp_rapor.to_csv('datasets/rapor/smp_rapor_hasil.csv')

# Prestasi Akademik / Non Akademik

In [12]:
def scrape_data_prestasi(url):
    driver = webdriver.Chrome()
    driver.get(url)

    time.sleep(10)
    wait = WebDriverWait(driver, 10)
    wait.until(EC.invisibility_of_element_located((By.CLASS_NAME, 'splash-screen')))

    # Mengklik tombol "Prestasi Rapor" berdasarkan teks
    prestasi_button = driver.find_element(By.XPATH, '//button[text()="Prestasi Akademik/Non Akademik"]')
    wait.until(EC.element_to_be_clickable((By.XPATH, '//button[text()="Prestasi Akademik/Non Akademik"]')))
    prestasi_button.click()
    time.sleep(3)

    all_data = []

    while True:
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.find('table')

        # Mengambil elemen 'th' pertama sebagai nama kolom
        header_row = table.find('tr')
        headers = [header.get_text(strip=True) for header in header_row.find_all('th')]
        all_data.append(headers)

        for row in table.find_all('tr'):
            row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
            all_data.append(row_data)

        next_button = driver.find_element(By.XPATH, '//button[@aria-label="next page"]')
        is_enabled = next_button.is_enabled()
        if not is_enabled:
            break

        time.sleep(3)
        next_button.click()
        time.sleep(3)

    driver.quit()

    # Membuat DataFrame dari all_data dengan menggunakan headers sebagai nama kolom
    df = pd.DataFrame(all_data[1:], columns=all_data[0])

    # Menghapus baris pertama
    df = df.drop(df.index[0]).dropna().set_index(['No'])
    
    return df

In [47]:
# Membuat DataFrame dan melakukan ekspor ke CSV untuk setiap variabel URL
for i, url in enumerate(smp_urls):
    df = scrape_data_prestasi(url)
    filename = f'datasets/prestasi/smp{i+1}_prestasi_hasil.csv'
    df.to_csv(filename)
    print(f"'{filename}' berhasil dibuat, bentuk dataframe '{df.shape}'")
    time.sleep(5)

'datasets/prestasi/smp1_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(33, 8)'
'datasets/prestasi/smp2_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(19, 8)'
'datasets/prestasi/smp3_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(33, 8)'
'datasets/prestasi/smp4_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(27, 8)'
'datasets/prestasi/smp5_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(36, 8)'
'datasets/prestasi/smp6_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(16, 8)'
'datasets/prestasi/smp7_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(24, 8)'
'datasets/prestasi/smp8_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(24, 8)'
'datasets/prestasi/smp9_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(18, 8)'
'datasets/prestasi/smp10_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(13, 8)'
'datasets/prestasi/smp11_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(7, 8)'
'datasets/prestasi/smp12_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(29, 8)'
'datasets/prestasi/smp13_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(6, 8)'
'datasets/prestasi/smp14_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(11, 8)'
'datasets/prestasi/smp15_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(32, 8)'
'datasets/prestasi/smp16_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(34, 8)'
'datasets/prestasi/smp17_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(1, 8)'
'datasets/prestasi/smp18_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(4, 8)'
'datasets/prestasi/smp19_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(21, 8)'
'datasets/prestasi/smp20_prestasi_hasil.csv' berhasil dibuat, bentuk dataframe '(1, 8)'

In [49]:
# Membuat list kosong untuk menyimpan dataframe
dataframes = []

# Melakukan iterasi dari smp1 hingga smp20
for i in range(1, 21):
    filename = f"datasets/prestasi/smp{i}_prestasi_hasil.csv"
    df = pd.read_csv(filename)
    dataframes.append(df)

# Menggabungkan dataframe menjadi satu dataframe
smp_prestasi = pd.concat(dataframes).reset_index().drop(['index', 'No'], axis=1)

# Menampilkan dataframe hasil penggabungan
smp_prestasi.head()

,Nomor Pendaftaran,Nama Siswa,Jalur,Status,Sekolah Pilihan,Status Domisili,Jenis Kejuaraan,Nilai Total
0,20220385030700033,Fergal Adika,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,400.0
1,20220385030700023,TENGKU KHALIZA WARDHANI,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,360.0
2,20220385030700002,CEVAN RIZQ,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,360.0
3,20220385030700018,KEIKO ZAHRA AL HUSNA,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,340.0
4,20220385030700015,RYUNOMIZAN ALTAF,Prestasi Akademik/Non Akademik,Diterima,SMP NEGERI 1 BOGOR,Dalam Kota,Basket,320.0

In [51]:
smp_prestasi.to_csv('datasets/prestasi/smp_prestasi_hasil.csv')

In [54]:
smp_prestasi['Jenis Kejuaraan'].value_counts()

Jenis Kejuaraan
PENCAK SILAT        29
SEPAK BOLA          22
KARATE              21
BASKET              19
Sepak Bola          18
                    ..
Polisi cilik         1
Jaipong              1
MTQ                  1
Tunas Bahasa Ibu     1
hafidz Al-Qur'an     1
Name: count, Length: 103, dtype: int64

# Prestasi (Asal Sekolah)

In [20]:
smp_asal = [
    'https://ppdb.kotabogor.go.id/statuspendaftar/6058e604-2df5-e011-91f0-e9feaa2e9d74',
    'https://ppdb.kotabogor.go.id/statuspendaftar/60f12206-2df5-e011-8a46-6bf253e496ab',
    'https://ppdb.kotabogor.go.id/statuspendaftar/e0000704-2df5-e011-842f-5d02e391b0b3',
    'https://ppdb.kotabogor.go.id/statuspendaftar/607bb104-2df5-e011-a567-cdd9515cb43f',
    'https://ppdb.kotabogor.go.id/statuspendaftar/f0273e04-2df5-e011-961b-63e7601dc96d',
    'https://ppdb.kotabogor.go.id/statuspendaftar/70bb2206-2df5-e011-9597-1d0c912b7fe2',
    'https://ppdb.kotabogor.go.id/statuspendaftar/90fc7304-2df5-e011-a95a-a72eb9f84dfc',
    'https://ppdb.kotabogor.go.id/statuspendaftar/e0ebb904-2df5-e011-9694-2bdcdc771da2',
    'https://ppdb.kotabogor.go.id/statuspendaftar/50bdf204-2df5-e011-b95c-d9c2a72684e3',
    'https://ppdb.kotabogor.go.id/statuspendaftar/20692206-2df5-e011-b8cd-eb0fff6548c8',
    'https://ppdb.kotabogor.go.id/statuspendaftar/50d62206-2df5-e011-8b91-5d869f6d3ae8',
    'https://ppdb.kotabogor.go.id/statuspendaftar/00d43304-2df5-e011-ad5f-d91be70663ff',
    'https://ppdb.kotabogor.go.id/statuspendaftar/e0762206-2df5-e011-a086-b975477e1497',
    'https://ppdb.kotabogor.go.id/statuspendaftar/1012c504-2df5-e011-88b4-8d189dce69ba',
    'https://ppdb.kotabogor.go.id/statuspendaftar/5048e004-2df5-e011-9fbe-f373041d48cf',
    'https://ppdb.kotabogor.go.id/statuspendaftar/00602306-2df5-e011-8356-59f8c43970df',
    'https://ppdb.kotabogor.go.id/statuspendaftar/4049e204-2df5-e011-afcd-97e36bdf92a9',
    'https://ppdb.kotabogor.go.id/statuspendaftar/206ae404-2df5-e011-ae3d-9b7426cfeeb7',
    'https://ppdb.kotabogor.go.id/statuspendaftar/c069ca04-2df5-e011-9836-fda4cfa6b24a',
    'https://ppdb.kotabogor.go.id/statuspendaftar/c02a2306-2df5-e011-b927-093051a2f742'
]

## Rapor

In [30]:
def scrape_data_rapor_asal(url):
    driver = webdriver.Chrome()
    driver.get(url)

    time.sleep(10)
    wait = WebDriverWait(driver, 10)
    wait.until(EC.invisibility_of_element_located((By.CLASS_NAME, 'splash-screen')))

    # Mengklik tombol "Prestasi Rapor" berdasarkan teks
    prestasi_button = driver.find_element(By.XPATH, '//button[text()="Prestasi Rapor"]')
    wait.until(EC.element_to_be_clickable((By.XPATH, '//button[text()="Prestasi Rapor"]')))
    prestasi_button.click()
    time.sleep(3)

    all_data = []

    while True:
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.find('table')

        # Mengambil elemen 'th' pertama sebagai nama kolom
        header_row = table.find('tr')
        headers = [header.get_text(strip=True) for header in header_row.find_all('th')]
        all_data.append(headers)

        for row in table.find_all('tr'):
            row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
            all_data.append(row_data)

        next_button = driver.find_element(By.XPATH, '//button[@aria-label="next page"]')
        is_enabled = next_button.is_enabled()
        if not is_enabled:
            break

        time.sleep(3)
        next_button.click()
        time.sleep(3)

    driver.quit()

    # Membuat DataFrame dari all_data dengan menggunakan headers sebagai nama kolom
    df = pd.DataFrame(all_data[1:], columns=all_data[0])

    # Menghapus baris pertama
    df = df.drop(df.index[0]).dropna().set_index(['No'])
    
    return df

In [31]:
# Membuat DataFrame dan melakukan ekspor ke CSV untuk setiap variabel URL
for i, url in enumerate(smp_asal):
    df = scrape_data_rapor_asal(url)
    df = df.drop(df[(df['Nama Siswa'] == 'Nama Siswa')].index)
    filename = f'datasets/rapor/asal/smp{i+1}_rapor_hasil_asal.csv'
    df.to_csv(filename)
    print(f"'{filename}' berhasil dibuat, bentuk dataframe '{df.shape}'")
    time.sleep(5)

'datasets/rapor/asal/smp1_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(18, 6)'
'datasets/rapor/asal/smp2_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(39, 6)'
'datasets/rapor/asal/smp3_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(18, 6)'
'datasets/rapor/asal/smp4_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(31, 6)'
'datasets/rapor/asal/smp5_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(22, 6)'
'datasets/rapor/asal/smp6_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(42, 6)'
'datasets/rapor/asal/smp7_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(34, 6)'
'datasets/rapor/asal/smp8_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(34, 6)'
'datasets/rapor/asal/smp9_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(40, 6)'
'datasets/rapor/asal/smp10_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(37, 6)'
'datasets/rapor/asal/smp11_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(19, 6)'
'datasets/rapor/asal/smp12_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(29, 6)'
'datasets/rapor/asal/smp13_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(32, 6)'
'datasets/rapor/asal/smp14_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(42, 6)'
'datasets/rapor/asal/smp15_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(26, 6)'
'datasets/rapor/asal/smp16_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(24, 6)'
'datasets/rapor/asal/smp17_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(7, 6)'
'datasets/rapor/asal/smp18_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(29, 6)'
'datasets/rapor/asal/smp19_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(17, 6)'
'datasets/rapor/asal/smp20_rapor_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(8, 6)'

In [32]:
# Membuat list kosong untuk menyimpan dataframe
dataframes = []

# Melakukan iterasi dari smp1 hingga smp20
for i in range(1, 21):
    filename = f"datasets/rapor/asal/smp{i}_rapor_hasil_asal.csv"
    df = pd.read_csv(filename)
    dataframes.append(df)

# Menggabungkan dataframe menjadi satu dataframe
smp_rapor_asal = pd.concat(dataframes).reset_index().drop(['index', 'No'], axis=1)

# Menampilkan dataframe hasil penggabungan
smp_rapor_asal.head()

,Nama Siswa,NISN,Jalur,Status Domisili,Asal Sekolah,Sekolah Pilihan
0,Alifia Natika Budiawan,010****177,Prestasi Rapor,Dalam Kota,SD PERTIWI,SMP NEGERI 1 BOGOR
1,Muhammad Asyraf Zhafran,011****179,Prestasi Rapor,Luar Kota,SD Islam Al Azhar 27 Cibinong,SMP NEGERI 1 BOGOR
2,YUSUF FATHURRAHMAN ALI,010****929,Prestasi Rapor,Dalam Kota,SD NEGERI POLISI 4,SMP NEGERI 1 BOGOR
3,LAKEISHA KHANSA NOOR,011****926,Prestasi Rapor,Dalam Kota,SDN SUKADAMAI 3,SMP NEGERI 1 BOGOR
4,KANIA FIRZANA ASYIFA,011****613,Prestasi Rapor,Dalam Kota,SDN SUKADAMAI 3,SMP NEGERI 1 BOGOR

In [34]:
smp_rapor_asal.to_csv('datasets/rapor/asal/smp_rapor_hasil_asal.csv')

## Prestasi

In [22]:
# Membuat DataFrame dan melakukan ekspor ke CSV untuk setiap variabel URL
for i, url in enumerate(smp_asal):
    df = scrape_data_prestasi(url)
    df = df.drop(df[(df['Nama Siswa'] == 'Nama Siswa')].index)
    filename = f'datasets/prestasi/asal/smp{i+1}_prestasi_hasil_asal.csv'
    df.to_csv(filename)
    print(f"'{filename}' berhasil dibuat, bentuk dataframe '{df.shape}'")
    time.sleep(5)

'datasets/prestasi/asal/smp1_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(33, 6)'
'datasets/prestasi/asal/smp2_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(19, 6)'
'datasets/prestasi/asal/smp3_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(33, 6)'
'datasets/prestasi/asal/smp4_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(27, 6)'
'datasets/prestasi/asal/smp5_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(36, 6)'
'datasets/prestasi/asal/smp6_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(16, 6)'
'datasets/prestasi/asal/smp7_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(24, 6)'
'datasets/prestasi/asal/smp8_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(24, 6)'
'datasets/prestasi/asal/smp9_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(18, 6)'
'datasets/prestasi/asal/smp10_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(13, 6)'
'datasets/prestasi/asal/smp11_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(7, 6)'
'datasets/prestasi/asal/smp12_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(29, 6)'
'datasets/prestasi/asal/smp13_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(6, 6)'
'datasets/prestasi/asal/smp14_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(11, 6)'
'datasets/prestasi/asal/smp15_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(32, 6)'
'datasets/prestasi/asal/smp16_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(34, 6)'
'datasets/prestasi/asal/smp17_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(1, 6)'
'datasets/prestasi/asal/smp18_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(4, 6)'
'datasets/prestasi/asal/smp19_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(21, 6)'
'datasets/prestasi/asal/smp20_prestasi_hasil_asal.csv' berhasil dibuat, bentuk dataframe '(1, 6)'

In [26]:
# Membuat list kosong untuk menyimpan dataframe
dataframes = []

# Melakukan iterasi dari smp1 hingga smp20
for i in range(1, 21):
    filename = f"datasets/prestasi/asal/smp{i}_prestasi_hasil_asal.csv"
    df = pd.read_csv(filename)
    dataframes.append(df)

# Menggabungkan dataframe menjadi satu dataframe
smp_prestasi_asal = pd.concat(dataframes).reset_index().drop(['index', 'No'], axis=1)

# Menampilkan dataframe hasil penggabungan
smp_prestasi_asal.head()

,Nama Siswa,NISN,Jalur,Status Domisili,Asal Sekolah,Sekolah Pilihan
0,Muhammad Jabbar Aufa,011****643,Prestasi Akademik/Non Akademik,Dalam Kota,SDIT Ummul Quro,SMP NEGERI 1 BOGOR
1,CEVAN RIZQ,011****230,Prestasi Akademik/Non Akademik,Dalam Kota,SD NEGERI POLISI 4,SMP NEGERI 1 BOGOR
2,REVINA ROSSANERI BARESI,011****909,Prestasi Akademik/Non Akademik,Dalam Kota,SD NEGERI POLISI 4,SMP NEGERI 1 BOGOR
3,IQBAL FADHIL MUWAFFAQ,011****936,Prestasi Akademik/Non Akademik,Dalam Kota,SD NEGERI POLISI 1,SMP NEGERI 1 BOGOR
4,RAYYANA FAIZHA IFFATUNNISA,011****868,Prestasi Akademik/Non Akademik,Dalam Kota,SD ISLAM TERPADU ALIYA,SMP NEGERI 1 BOGOR

In [28]:
smp_prestasi_asal.to_csv('datasets/prestasi/asal/smp_prestasi_hasil_asal.csv')